* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: url(img1.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  width: 350px;
  height: 350px;
  background: transparent;
  padding: 15px;
  border: 1px solid #a1a9aa;
  border-radius: 10px;
  box-shadow: 7px 10px 70px black;
}
.work h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 5px;
}
.work .input-box {
  position: relative;
  width: 100%;
  height: 40px;
  margin: 30px 0px;
}
.input-box input {
  width: 100%;
  background-color: aqua;
  height: 100%;
  /* background: transparent; */
  border: none;
  outline: none;
  border: 2px solid rgb(116, 99, 99);
  border-radius: 35px;
  padding-left: 15px;
  font-size: 15px;
}
.input-box input::placeholder {
  color: white;
}
.input-box i {
  position: absolute;
  right: 18px;
  top: 10px;
  font-size: 15px;
}
.remember-forgot {
  display: flex;
  flex-direction: column;
}
.remember-forgot button {
  height: 40px;
  border: none;
  border-radius: 30px;
  background-color: rgb(85, 85, 221);
  margin-top: 10px;
}
.front {
  display: flex;
  justify-content: space-between;
}

.remember-forgot p {
  margin-top: 10px;
  text-align: center;
}
.remember-forgot a {
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
