.form1 h1 {
  padding-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  width: 1155px;
  border-radius: 12px;
  padding-top: 9px;
  height: 50px;
  margin-right: 30px;
  margin-left: 30px;
  background-color: black;
  color: white;
}
.margin2 {
  background-color: blue;
  color: white;
}
.form1 {
  width: 300px;
  height: 380px;
  margin-left: auto;
  background-color: aqua;
  margin-right: auto;
  text-align: center;
  margin-top: 70px;
  border-radius: 15px;
}

.link1 {
  font-size: 25px;
  /* margin-right: 160px; */
  color: black;
  margin-inline: 20px;
  display: inline;
  border: solid 2px rgb(29, 28, 28);
  padding: 3px;
  background-color: #ffa726;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
}
.link1 a {
  text-decoration: none;
  color: black;
}
.link1:hover {
  background-color: #ffb74d;
  color: white;
}
.form2 {
  margin-top: 30px;
}

.form2 input {
  width: 200px;
  height: 25px;
  border-radius: 10px;
  padding-left: 8px;
}
.form3 {
  margin-top: 25px;
}

.form3 a {
  text-decoration: none;
  margin-left: 2px;
}

.forgot {
  margin-right: 90px;
  margin-top: 3px;
}

.forgot a {
  text-decoration: none;
}

.button button {
  background-color: blue;
  color: white;
  width: 210px;
  height: 30px;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
}
.button button:hover {
  background-color: aqua;
  color: black;
}
